body {
	background-color: #F2F2F2;
}

h1 {
	letter-spacing: 3px;
	font-size: 55px;
}

#rating {
	font-weight: bold;
}

#display-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

#added-gif {
	margin-top: 10px;
}

#user-input {
	width: 100%;
}

.btn {
	margin: 3px 3px;

}